<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p> Results are:</p>
  <table width="100%">
    <% for(var j=0; j < result.length; j++) {%>
      <tr>
        <td width="20%"><%= result[j].id %></td>
        <td width="40%"><%= result[j].comment %></td>
        <td width="40%"><%= result[j].value %></td>
      </tr>
    <% } %>
  </table>
  </body>
</html>
